.texto{
    font-size: x-large;
    text-align: center;
    color: aqua;
    border: 10px;
}
.texto:hover{
    opacity: 0.5;
}

.fundo{
    background-color: black;
}
.container{
    display:grid;
    justify-content: center;
    align-self: center;
}
.img2{
    opacity: 0.7;
    width: 100%;
    max-width: 300px;
    -webkit-mask-image: radial-gradient(circle, black 70%, transparent 100%);
    mask-image: radial-gradient(circle, black 70%, transparent 100%);

}
.img1{
    width: 100%;
    max-width: 300px;
}
body {
  background: #0b0b0b;
  font-family:'Courier New', Courier, monospace;
  font-size: large;
  font-weight: bold;
  position: relative;background:
  linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)),
  url("img/fundo1.png");
  margin: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

/* Container */
.botoes {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 50px;
  max-width: 500px;   /* trava o tamanho */
  margin: -30px 0;     /* centraliza */
  
}

/* Botão base */
.btn {
  text-decoration: none;
  text-align: center;
  padding: 18px;
  font-size: 25px;
  font-weight: bold;
  border-radius: 14px;
  letter-spacing: 1px;
  width: 100%;
  max-width: 500px;
}


/* 🍺 Cardápio (amarelo neon) */
.lanche {
  background: linear-gradient(45deg, #e1b505, #ff8c00);
  color: #000;
  box-shadow: 0 0 10px #ffcc00, 0 0 25px #ff9900;
  position: relative;
 
}
html {
  scroll-behavior: smooth;
}

/* 🧾 Pedidos (dark com neon) */
.drink {
  background: #111;
  color: #ffcc00;
  border: 2px solid #ffcc00;
  box-shadow: 0 0 10px #ffcc00;
}
.combo {
  background: linear-gradient(45deg, #d8ae02, #e67f02);
  color: #000;
  box-shadow: 0 0 10px #ffcc00, 0 0 25px #ff9900;
}
.doce {
  background: #111;
  color: #ffcc00;
  border: 2px solid #ffcc00;
  box-shadow: 0 0 10px #ffcc00;
}
.batata {
  background: linear-gradient(45deg, #ae8c01, #bb6803);
  color: #000;
  box-shadow: 0 0 10px #ffcc00, 0 0 25px #ff9900;
}
/* Hover geral */
.btn:hover {
  transform: scale(1.07);
}

/* efeito pressionar */
.btn:active {
  transform: scale(0.98);
}
.html {
    scroll-behavior: smooth;
}
/*aqui o menu de cada item */

.menu {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease;
  
}
.menu.ativo {
  max-height: 1500px;
  color: aliceblue;
  display: grid;
  border: #ae8c01 solid;
  gap: 10px;
  margin-top: -10px;
  transition: max-height 0.3s ease;
  border-radius: 10px;
  box-shadow: 0 0 3px #ffcc00, 0 0 15px #ff9900;
  padding: 20px;
  max-width: 400px;
}
.cardapio p{
  font-family: sans-serif;
  color: rgb(215, 215, 215);

}

.imgburguer {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  
  max-width: 110px;
  border-radius: 6px;
  
}
.imgburguer:hover {
  transform: scale(1.10);
  opacity: 0.5;
}
.cardapio {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  justify-content: center;

}
.cardapio h2 {
  margin: 0;
  letter-spacing: 2px;
  margin-bottom: 5px;
}
.cardapio p {
  display: flex;
  margin: 0;
  font-size: 14px;
  justify-content: space-between;
  margin-top: -5px;
  letter-spacing: 2%;
  margin-bottom: 10px;
  line-height: 1.3;

}
.btnitem p {
  font-size:20px;
}

.carrinho {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(45deg, #e1b505, #ff8c00);
  padding: 12px;
  text-align: center;
  box-shadow: 0 0 10px #ffcc00, 0 0 25px #ff9900;
  z-index: 999;
}
.footer {
  background: none;
  border: none;
  font-family: "Changa One", sans-serif;
  font-size: 20px;
  cursor: pointer;
}
button {
  border: none;
}
.btnitem {
  border: none;
  cursor: pointer;
  width: auto;
  height: auto;
  padding: 0;
  border-radius:30%;
}
.btnitem img {

  display: block;
  object-fit: contain;
  width: 30px;
  height: 30px;
  margin-top: -10px;
  border-radius: 30%;
}
.btnitem:hover {
  transform: scale(1.1);
  transition: 0.2s;
  
}
.imgdrink {
  display: block;
  align-items: flex-start;
  justify-content: center;
  max-width: 60px;
  
  
  
}
.imgdrink:hover {
  transform: scale(1.10);
  opacity: 0.5;
}

.caixafinal {
  color: white;
  padding: 20px;
  border-radius: 12px;
  border: #ffcc00 solid;
  max-width: 350px;
  width: 90%;
  max-height: 500px;
  overflow: auto;
  background: #111;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 9px;
  display: relative;
  z-index: 998;
  
}

.caixafinal p{
  margin-top: 30px;
  font-size: large;
}



.caixafinal h3 {
  margin-top: -5px;
  letter-spacing: 1px;
  text-align: center;
  font-size:x-large;
}
.caixafinal input {
  border-radius: 5%;
  border: none;
  padding: 6px;
  margin: 5px;
  
}
.caixafinal label {
  gap: 10px;
  display: flex; 
}
.enviar {
  border: none;
  border-radius: 5px;
  background-color: #ffcc00;
  font-size:large;
  font-weight: bolder;
  gap: 10px;
  padding: 15px;
  cursor: pointer;

}
.enviar:hover{
  background: green;
}
.caixafinal label{
  padding: 5px;
  border: none;
  gap: 5px;
  color: #ffcc00;
  max-width: 15px;
  margin-top: -5px;
}

.caixafinal span{
  font-size: large;
  color: #ffcc00;
}

.fecharped {
  font-size:small;
  font-weight: bolder;
  background-color: #ff9900;
  position:absolute;
  top: 10px;
  right: 10px;
  border-radius: 5px;
  cursor: pointer;
}
#cartmodal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
}

.cartitems p{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 80vh;
}
.cartitems button{
  background: #ffcc00;
  border-radius: 8%;
  font-weight: bold;
}
.precobtn {
  font-size: 20px;
  letter-spacing: 1px;
  font-family:sans-serif;
  font-weight: bolder;
  color: #f3f3f2;

}

.remove-btn {
  cursor: pointer;
}
.btncarf {
  font-family: sans-serif;
}
.imgdoce{
  max-width: 120px;
}

@media (min-width: 768px) {
  body{
    margin: 0;
  }
  
  body::before {
    content: "";
    position:absolute;
    right: 0;
    top: 35%;
    transform: translateY(-50%);
    width: 600px;
    height: 600px;
    background-image: url("img/iron.png");
    background-size: contain;
    background-repeat: no-repeat;
    pointer-events: none;
    z-index: -1;
    opacity: 0.7;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items:flex-start;
    gap: 30px;
    padding: 20px;
    
  }
  
  .img1,
  .img2 {
    max-width: 400px;
    width: 100%;
    object-fit: contain;
    -webkit-mask-image: radial-gradient(circle, black 70%, transparent 100%);
    mask-image: radial-gradient(circle, black 70%, transparent 100%);
    mix-blend-mode: lighten;
  }
  .img1 {
    max-width: 500px;
    
  }

  /* botões em linha */
  .botoes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    gap: 15px;
    max-width: 1100px;
    margin: 10px auto;
    padding: 20px;
  }

  .btn {
    width: auto;
    min-width: 220px;
    padding: 18px 30px;
    font-size: 22px;
  }

  /* menu em grade */
  .menu.ativo {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    max-width: 1000px;
    margin: 20px auto;
  }

  .imgburguer,
  .imgdrink,
  .imgdoce {
    max-width: 160px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px;
    box-shadow: 0 0 12px rgba(255,255,255,0.15);
    transition: 0.3s;
  }

  /* faixa visual inferior */
  body::after {
    content: "";
    display: block;
    height: 180px;
    margin-top: 40px;
    background: linear-gradient(to top, rgba(255,140,0,0.08), transparent);
  }
  h2,p {
    text-shadow: 
    1px 1px 2px black,
   -1px -1px 2px black,
    1px -1px 2px black,
   -1px 1px 2px black;
  }
  .imgdrink{
    max-width: 70px;
  }
}


.hidden {
  display: none;
  color: red;
}
#address-warn {
  text-align: center;             /* alinhamento */
  color: red;
}
#name-warn {
  text-align: center;             /* alinhamento */
  color: red;
}
#cpf-warn {
  text-align: center;             /* alinhamento */
  color: red;
}
.rodapevisual {
  margin-top: 80px;
  text-align: center;
  color: #ffcc00;
  padding: 50px 20px;
  font-size: 22px;
}
.hourspan {
  display: flex;
  justify-content: center; /* centraliza horizontal */
  align-items: center;     /* centraliza vertical (se tiver altura) */
  margin: 2px 0;
}

.hour {
  font-family: Arial, Helvetica, sans-serif;
  border: 2px solid #22c55e; /* verde bonito */
  color: whitesmoke;
  padding: 8px 16px;
  border-radius: 20px; /* deixa arredondado tipo badge */
  font-weight: bold;
  text-align: center;
}
.open {
  border: 2px solid #22c55e;
  color: #22c55e;
}

/* fechado */
.closed {
  border: 2px solid red;
  color: red;
}
.rodapevisual{
  margin-top: -20px;
  text-align: center;
  
}